.charsheet {
    overflow: hidden;
    font-family: times, sans-serif;
    width: 842px;
}

.charsheet .sheet-col img {
  margin-right: 20px;
  position: absolute;
}

.charsheet .sheet-rvd {
    width: 39%;
    display: inline-block;
    vertical-align: top;
}
.charsheet .sheet-rvdbx {
   background: none;
   border: 0px;
   text-align:right;
   font-weight:bold;
   font-size:18px;
}
.charsheet .sheet-rvdbtn {
   background: none;
   border: 0px;
   text-align:left;
}

.charsheet .sheet-charinfo {
  float: right;
  position: relative;
  width: 60%;
  display: inline-block;
}

.charsheet .sheet-charinfo input {
  background: transparent;
  border-bottom: 1px solid #000;
  text-decoration-color: solid black;

}
